body {
	background-color: #D3D3D3;
}
.page-container {
	margin: auto;
	width: 50%;
	border: 3px solid #b32121;
	padding: 10px;
	background-color: white;
}

.main-header {
	font-weight: bold;
	font-size: 28px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.link-header {
	font-size: 16px;
	text-align: center;
	margin-bottom: 10px;
}

.block-header .block-bold {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	color: #a01e1e;
	margin: 8px;
}

.block-header .block-bold p {
	padding-top: 0px;
	padding-bottom: 0px;
}

.certificate-gif-container {
	display: flex;
	justify-content: center;
}